@import "syntax-variables";

//////////////////////////////////////
//////////////// ATOM ////////////////
//////////////////////////////////////

atom-text-editor {
  color: @syntax-text-color;
  background-color: @syntax-background-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    color: @syntax-gutter-text-color;
    background-color: @syntax-gutter-background-color;

    .line-number {
      &.cursor-line {
        color: @syntax-gutter-text-color-selected;
        background-color: @syntax-gutter-background-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .syntax--invisible {
    color: @syntax-text-color;
  }

  .cursor {
    width: 2px !important;
    color: @syntax-cursor-color;
    background-color: @white;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

  .bracket-matcher .region {
    z-index: 100;
    padding: 2px;
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid @hydra;
  }

  .search-results .syntax--marker .region {
    background-color: transparent;
    border: 2px solid @syntax-result-marker-color;
  }

  .search-results .syntax--marker.current-result .region {
    border: 2px solid @syntax-result-marker-color-selected;
  }
}

.syntax--comment {
  color: @light-gray;
}

.syntax--entity {
  &.syntax--name.syntax--type {
    color: @hydra;
  }

  &.syntax--other.syntax--inherited-class {
    color: @text;
  }
}

.syntax--keyword {
  color: @blue;

  &.syntax--control {
    color: #ff3f8c;
  }

  &.syntax--operator {
    font-weight: bold;
    color: #ff005a;
  }

  &.syntax--other.syntax--special-method {
    color: @white;
  }

  &.syntax--other.syntax--unit {
    color: @orange;
  }
}

.syntax--storage {
  color: @cyan;
}

.syntax--constant {
  color: @orange;

  &.syntax--character.syntax--escape {
    color: @cyan;
  }

  &.syntax--numeric {
    color: @orange;
  }

  &.syntax--other.syntax--color {
    color: @cyan;
  }

  &.syntax--other.syntax--symbol {
    color: @orange;
  }
}

.syntax--variable {
  color: #9bb4ff;

  &.syntax--interpolation {
    color: lighten(@orange, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-text-color;
  }

  &.syntax--other.syntax--property.syntax--static {
    color: @blue;
  }

  &.syntax--language.syntax--this.syntax--js {
    font-style: italic;
    font-weight: bold;
    color: @hydra;
  }
}

.syntax--invalid.syntax--illegal {
  color: @syntax-background-color;
  background-color: @hydra;
}

.syntax--string {
  color: #b9bdef;

  &.syntax--regexp {
    color: @cyan;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @orange;
    }
  }

  &.syntax--other.syntax--link {
    color: @hydra;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @light-gray;
    }

    &.syntax--string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      font-weight: bold;
      color: #ff005a;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @cyan;
    }

    &.syntax--bold {
      font-style: bold;
      color: @hydra;
    }

    &.syntax--italic {
      font-style: italic;
      color: @blue;
    }
    &.syntax--tag {
      color: #fff;
    }
  }

  &.syntax--terminator {
    color: @white;
  }

  &.syntax--section {
    &.syntax--embedded {
      color: @white;
    }
    &.syntax--property-list {
      color: @white;
    }
  }
}

.syntax--support {
  &.syntax--class {
    color: @hydra;
    font-weight: 500;
  }

  &.syntax--function {
    color: @hydra;
  }

  &.syntax--type {
    color: @text;
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: #ffffff;
    font-weight: 400;
  }

  &.syntax--name.syntax--class,
  &.syntax--name.syntax--type.syntax--class {
    color: @orange;
  }

  &.syntax--name.syntax--section {
    color: @text;
  }

  &.syntax--name.syntax--tag {
    color: @blue;
  }

  &.syntax--other.syntax--attribute-name {
    color: @hydra;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}

.scroll-view {
  padding-left: 1px;
}

//////////////////////////////////////
//////////////// HTML ////////////////
//////////////////////////////////////

.syntax--html {
  &.syntax--basic {
    color: @text;
    font-weight: 200;
  }
}

//////////////////////////////////////
////////////// JS & ES6 //////////////
//////////////////////////////////////
.syntax--meta {
  &.syntax--class {
    color: @hydra;
  }

  &.syntax--link {
    color: @orange;
  }

  &.syntax--require {
    color: @text;
  }

  &.syntax--selector {
    color: @blue;
  }

  &.syntax--separator {
    color: @syntax-text-color;
    background-color: @gray;
  }

  &.syntax--brace {
    color: #fff;
    font-weight: 400;
  }

  &.syntax--property.syntax--object.syntax--js
    > .syntax--variable.syntax--other.syntax--property.syntax--js {
    color: #00d8ff;
  }
}

.syntax--meta.syntax--tag.syntax--jsx {
  color: @white;
}

.syntax--dom.syntax--js {
  color: @hydra;
}

.syntax--entity.syntax--name.syntax--tag.syntax--jsx {
  color: @blue;
}

.syntax--period.syntax--js {
  color: @hydra;
}
.syntax--source.syntax--js {
  color: #fff;
}
.syntax--string.syntax--quoted.syntax--js {
  color: @text;
}

//////////////////////////////////////
/////////////// MARKUP ///////////////
//////////////////////////////////////

.syntax--markup {
  &.syntax--bold {
    font-style: bold;
    color: @hydra;
  }

  &.syntax--changed {
    color: @blue;
  }

  &.syntax--deleted {
    color: @hydra;
  }

  &.syntax--italic {
    font-style: italic;
    color: @purple;
  }

  &.syntax--link {
    color: @light-gray;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @hydra;
  }

  &.syntax--inserted {
    color: @text;
  }

  &.syntax--list {
    color: @hydra;
  }

  &.syntax--quote {
    color: @white;
  }

  &.syntax--raw.syntax--inline {
    color: @text;
  }
}

//////////////////////////////////////
////////////// MARKDOWN //////////////
//////////////////////////////////////

.syntax--source.syntax--gfm {
  color: @text;
}

.syntax--heading.syntax--gfm {
  color: @hydra;
}

.syntax--variable.syntax--unordered.syntax--list.syntax--gfm {
  color: @hydra;
}

//////////////////////////////////////
////////////// PATCHES ///////////////
//////////////////////////////////////

// Fix Tool Bar plugin icon color
button,
button.icon,
.btn-default,
.btn {
  color: #b1c3cd;
}

.syntax--text.syntax--plain.syntax--null-grammar {
  color: #b1c3cd;
}

//////////////////////////////////////
////////////// JSX ////////////////////
//////////////////////////////////////

.syntax--entity.syntax--name.syntax--class,
.syntax--entity.syntax--name.syntax--type.syntax--class {
  color: #ff0066;
  font-weight: bolder;
}

.syntax--storage.syntax--type.syntax--js {
  font-weight: 400;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--jsx {
  color: #d4c5ff;
  font-weight: 400;
}

.syntax--meta.syntax--tag.syntax--jsx {
  color: #98ffcc;
  font-weight: 400;
}
