// These colors are specific to the theme. Do not use in a package!

@lighter-gray: #c5c8c6;
@light-gray: #758677;
@indent-wrap: #151515;
@gray: #373b41;
@dark-gray: #23262d;
@very-dark-gray: #1d1f21;
@selection: #004964;
@text: #b1c3cd;
@shadow: #121212;

@background: #212231;
@cyan: #24E6C6;
@blue: #33A5E0;
@purple: #ae62da;
@orange: #FF525F;
@white: #f5f5f5;
@yellow: #ffe800;
@hydra: #ed1348;
