// These colors are specific to the theme. Do not use in a package!

@lighter-gray: #c5c8c6;
@light-gray: rgba(157, 157, 157, .6);
@gray: #373b41;
@dark-gray: #23262d;
@very-dark-gray: #1d1f21;
@selection: #004964;
@text: #d6f8ce;
@this: #ff5d44;

@background: #23262d;
@cyan: #095256;
@blue: #1e3137;
@purple: #b294bb;
@orange: @text;
@red: @this;
@orange: #e84a4a;
@light-orange: #653538;
@cursor: #ffe800;
