@lighter-gray: #c5c8c6;
@light-gray: #758677;
@indent-wrap: #222;
@gray: #373b41;
@dark-gray: #23262d;
@very-dark-gray: #1d1f21;
@selection: #004964;
@text: #f1f1f1;
@shadow: #121212;

@background: #2a2c3c;
@cyan: #1af1ff;
@blue: #41bfff;
@purple: #ae62da;
@orange: #f46a7a;
@white: #ececec;
@walterWhite: #fff;
@yellow: #ffee46;
@hydra: #ff407b;
