@import "colors";

// General colors
@syntax-text-color: #1af1ff;
@syntax-cursor-color: @white;
@syntax-selection-color: @selection;
@syntax-background-color: @background;

// Guide colors
@syntax-wrap-guide-color: @dark-gray;
@syntax-indent-guide-color: @gray;
@syntax-wrap-guide-color: @indent-wrap;
@syntax-invisible-character-color: @gray;

// For find and replace markers
@syntax-result-marker-color: @light-gray;
@syntax-result-marker-color-selected: white;

// Gutter colors
@syntax-gutter-text-color: @hydra;
@syntax-gutter-text-color-selected: @orange;
@syntax-gutter-background-color: darken(@background, 3%);
@syntax-gutter-background-color-selected: lighten(@background, 13%);

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @text;
@syntax-color-added: @cyan;
@syntax-color-modified: @blue;
@syntax-color-removed: @hydra;
